In [7]:
import numpy as np
import pandas as pd
import scipy
import operator
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle
from matplotlib.colors import ListedColormap
from sklearn import neighbors, datasets, tree
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss

%matplotlib inline
# Make it pretty
plt.style.use('ggplot')

In [8]:
from DataCleaning import *

In [9]:
eda('data/churn_train.csv')

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,last_trip_date,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,Is_iPhone,Astapor,Winterfell,King's Landing,Result
0,6.94,5.0,5.0,1.00,2014-05-03,2014-01-12,0.0,0,0,100.0,0,1,0,0,False
1,8.06,5.0,5.0,1.00,2014-01-26,2014-01-25,0.0,2,1,0.0,0,1,0,0,False
2,21.50,4.0,4.9,1.00,2014-05-21,2014-01-02,0.0,1,1,100.0,1,0,1,0,False
3,9.46,5.0,4.9,2.75,2014-01-10,2014-01-09,100.0,1,0,100.0,0,0,1,0,False
4,13.77,5.0,4.9,1.00,2014-05-13,2014-01-31,0.0,0,0,100.0,1,0,1,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,2.06,4.8,4.3,1.08,2014-04-02,2014-01-26,9.5,8,0,90.5,0,0,1,0,False
39996,2.05,5.0,5.0,1.00,2014-05-09,2014-01-08,0.0,2,0,85.7,1,0,0,1,False
39997,3.04,5.0,5.0,1.00,2014-06-24,2014-01-04,0.0,3,1,33.3,0,0,1,0,True
39998,3.49,4.3,3.3,1.50,2014-02-09,2014-01-08,40.0,5,0,60.0,1,1,0,0,False
39999,4.25,4.7,5.0,1.00,2014-06-27,2014-01-18,0.0,2,1,42.9,1,1,0,0,True

In [23]:
def eda(csvfile):

    df= pd.read_csv(csvfile,parse_dates=['last_trip_date','signup_date'])
    df['phone']=df['phone'].fillna(value='iPhone')
    df['Is_iPhone'] = df['phone'].apply(lambda x: 1 if x == 'iPhone' else 0)
    
    
    df['Astapor'] = df['city'].apply(lambda x: 1 if x == 'Astapor' else 0)
    df['Winterfell'] = df['city'].apply(lambda x: 1 if x == 'Winterfell' else 0)
    df["King's Landing"] = df['city'].apply(lambda x: 1 if x == "King's Landing" else 0)
    
    df['luxury_car_user'] = df['luxury_car_user'].apply(lambda x: 1 if x == True else 0)
    
    df.drop(columns=['phone','city'],axis=1,inplace=True)
    
    df['avg_rating_by_driver']=df['avg_rating_by_driver'].fillna(value=df['avg_rating_by_driver'].median())
    df['avg_rating_of_driver']=df['avg_rating_of_driver'].fillna(value=df['avg_rating_of_driver'].median())

    
    
    df['Result']= (df['last_trip_date'] >= '2014-06-01')
    
    return df

In [24]:
new_df=eda('data/churn_train.csv')

In [25]:
a=new_df['last_trip_date'] <= time
b=new_df['signup_date']

In [27]:
a-b

0       111 days
1         1 days
2       139 days
3         1 days
4       102 days
          ...
39995    66 days
39996   121 days
39997   171 days
39998    32 days
39999   160 days
Length: 40000, dtype: timedelta64[ns]